@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-font-black: #444;
  --colors-font-white: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body,
div#__next {
  @apply h-full;
  color: var(--colors-font-black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
